# https://better-auth.com/docs/installation
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# https://better-auth.com/docs/infrastructure/introduction
BETTER_AUTH_API_KEY=

# https://discord.com/developers/applications
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Postgresqlの接続URL
DATABASE_URL=
