# database
DATABASE_URL=

# better-auth
NEXT_PUBLIC_BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# discord
NEXT_PUBLIC_DISCORD_CLIENT_ID=
NEXT_PUBLIC_DISCORD_INVITE_PERMISSION=
DISCORD_CLIENT_SECRET=
DISCORD_TOKEN=

# cloudflare turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRETKEY=
